@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400;600;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    --color-one: #DCD7C9;
    --color-two: #A27B5C;
    --color-three: #3F4E4F;
    --color-four: #2C3639;
    --color-five: #4FA095;

    /* thin-100, regular-400, medium-600, bold-800 */
    --font: 'Noto Sans Mono', monospace;
}

/* +++++++++++++ HEADER inicio +++++++++++++*/
.navbar-brand{
    font-size: 1.2rem;
}
.navIcons-desktop{
    display: none;
}

/* +++++++++++++ HEADER final +++++++++++++*/
body{
    font-family: var(--font);
    font-weight: 100;
}

@media (min-width: 500px) {
    .navbar-brand{
        font-size: 1.4rem;
        margin-left: 18px;
    }
}

@media (min-width: 992px) {
    .navIcons-desktop{
        display: initial !important;
        display: flex !important;
        align-items: center !important;
        gap: 0.5rem !important;
        margin: 0rem 1.8rem 0rem 0.9rem !important;
    }
    
}