    {{!-- Style css --}}
    <link rel="stylesheet" href="./style/style.css">    
    <link rel="stylesheet" href="./style/addproduct.css">

<!-- add product -->

    <div class="formContainer container">
        <div class="form">
            <h1>Add New Product</h1>
            <form class="needs-validation" id="productForm" novalidate>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Select Image</label>
                    <input class="form-control" name="file" type="file" id="formFile" accept="image/*" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price USD</label>
                    <input type="number" name="price" class="form-control" id="price" required>
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" name="stock" class="form-control" id="stock" required>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" name="brand" class="form-control" id="brand" required>
                </div>
                <div class="mb-3">
                    <label for="Country" class="form-label">Country</label>
                    <select class="form-select" name="country" id="validationCustom04" required>
                        <option selected value="">select country...</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Panamá">Panamá</option>
                        <option value="Guatemala">Guatemala</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script src="./scripts/addProduct.js"></script>