{{!-- Style css --}}
    <link rel="stylesheet" href="./style/category.css">
<main>
    <div class="category">
        <div class="categoryTitleContainer">
            <div class="categoryLogo"></div>
            <h1 class="categoryTitle">Juan Valdéz</h1>
        </div>
        <div class="listContainer">
            {{#each products}}
                {{> card }}
            {{/each}}
        </div>
    </div>

</main>