{{!-- Style css --}}
<link rel="stylesheet" href="./style/style.css">
<link rel="stylesheet" href="./style/error.css">

<div class="errorContainer">
    <div class="error">
        <h1 class="error_title"><span class="error_titleSpam">500</span> http server error</h1><br>
        <p class="error_pOne"> Oops!, something went wrong</p>
        <div class="container_errorMessage">
            <p class="error_pTwo">ERROR:</p>
            <p class="error_pTree">{{message}}</p>
        </div>
        <p class="error_pFour">I suggest go <a href="/">home</a> or come back later.</p>
    </div>
</div>