{{!-- Style css --}}
<link rel="stylesheet" href="./style/style.css">
<link rel="stylesheet" href="./style/loginRegister.css">
<main>
    <div class="formContainer">
        <div class="loginFrom">
            <h1>ADMIN LOGIN</h1>
            <form id="loginForm">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" pattern="[A-Za-z0-9._+-]+@[A-Za-z0-9 -]+\.[a-z]{2,}"
                    required><br>

                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" pattern="[a-zA-Z0-9]{8,}" required>
                <label class="form-text">Must be at least 8 characters</label><br><br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>
<script src="./scripts/loginadmin.js"></script>