{{!-- style --}}
<link rel="stylesheet" href="./style/card.css">
<div class="card">
    <div class="card_imageContainer"></div>
    <div class="card_infoContainer">
        <div class="card_itemName">
            {{name}} 
        </div>
        <div class="card_itemPrice">
            <samp>{{price}}</samp> USD
        </div>
        <div class="card_btnContainer">
            <a href="/productDetail/{{_id}}" id="gitHubBtn" type="button" class="btn btn-primary">see</a>
            <button id="gitHubBtn" type="button" class="btn"><i class="fa-solid fa-heart"></i></button>
            <button id="gitHubBtn" type="button" class="btn"><i class="fa-solid fa-cart-plus"></i></button>
        </div>
    </div>
</div>

